<div class="row">
  <div class="col-4 mt-3" *ngFor="let Products of productsArray; let i = index ">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{Products.image}}" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">{{Products.name}}</h6>

        <p>{{Products.size + ' ' + (Products.price)}}</p>
        <p>{{Products.description}}</p>
        <button class="btn btn-primary icon-btn" (click)="onSearchClick(Products.image)">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
        <button class="btn btn-primary icon-btn" [disabled]="!(auth.user | async)" *ngIf="!isItemInFavourites(Products.id)" (click)="markItemAsFavourite(Products.id)">
          <fa-icon [icon]="faHeart"></fa-icon>
        </button>
        <button class="btn btn-primary icon-btn red-button" aria-hidden="true" *ngIf="isItemInFavourites(Products.id)" (click)="unmarkItemAsFavourite(Products.id)">
          <fa-icon [icon]="faHeartBeat"></fa-icon>
        </button>
        <button class="btn btn-primary icon-btn" [disabled]="!(auth.user | async)" *ngIf="!isItemInCart(Products.id)" (click)="addToCart(Products.id)">
          <fa-icon [icon]="faShoppingCart"></fa-icon>
        </button>
        <button class="btn btn-primary icon-btn red-button" aria-hidden="true" *ngIf="isItemInCart(Products.id)" (click)="removeItemFromCart(Products.id)">
          <fa-icon [icon]="faShoppingCart"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>


